/* Global Styles */

body {
    color: #0f0;
    background: #555;
    font-family: 'Press Start 2P', cursive;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    color: #0f0;
    text-align: center;
    text-shadow: 1px 1px 0px #333;
}

/* Body Style */

#main {
    height: 550px;
    margin: 0 auto;
    box-shadow: 3px 3px 1px #333;
    background: #1a8fb9;
    background-image: url('../images/background.png');
    background-size: cover;
}
